body {
    background-image: linear-gradient(to bottom, rgba(16,24,32,255) 60%, lightgrey);
}

.btn-primary {
    margin-top: 10px;
    background-color: rgba(244,141,1,255);
    border-color: rgba(244,141,1,255);
}

    .btn-primary:hover {
        background-color: rgba(224,121,1,255);
        border-color: rgba(224,121,1,255);
    }

form {
    border: 1px solid black; 
    margin-top: 20px;
    padding: 20px;
    border-radius: 3%;
    background-image: linear-gradient(to bottom, lightgrey, lightblue);
}

h1 {
    text-align: center;
    color: rgba(113,133,143,255);
    font-size: 4em;
    font-family: Mensrea Light;
}

.undertitle {
    text-align: center;
    margin-top: -10px;
    color: rgba(113,133,143,255);
}

