
body {
    background-image: url('/images/sliping.jpg');
    background-size: cover;
    color: white;
}

.table {
    background-color: white;
    color: black;
}

.OpprettService {
    background-color: rgba(244,141,1,255);
    border-color: rgba(244,141,1,255);
}

    .OpprettService:hover {
        background-color: rgba(224,121,1,255);
        border-color: rgba(224,121,1,255);
    }

.SlettService {
    background-color: red;
}

    .SlettService:hover {
        background-color: darkred;
    }