
body {
    background-image: url('/images/sliping.jpg');
    background-size: cover;
    color: white;
}

.table {
    background-color: white;
    color: black;
}

.text {
    color: white;
}

.text:hover {
    color: red;
}
