@{
    ViewData["Title"] = "Brukere";
}
<style>
    .mechanical-form:active,
    .hydraulisk-form:active,
    .electrical-form:active,
    .lager-form:active,
    .nyavd-form:active {
        transform: scale(0.95); /* Scale down the button when pressed */
    }

    .mechanical-form:hover,
    .hydraulisk-form:hover,
    .electrical-form:hover,
    .lager-form:hover,
    .nyavd-form:hover {
        transform: scale(1.05); /* Scale up the button on hover (optional) */
    }
</style>

<style>
    .avdelinger {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        font-weight: bold;
        font-family: 'YourCustomFont', Arial, sans-serif;
        font-size: 24px;
        color: black;
    }

    .department-button {
        display: inline-block;
        border: 1px solid black;
        width: 300px;
        height: 80px;
        border-radius: 20px;
        background-color: #FF6600;
        margin: 10px;
        margin-top: 10px;
        text-align: center;
        line-height: 80px;
        text-decoration: none;
    }

        .department-button p {
            font-weight: bold;
            font-family: 'YourCustomFont', Arial, sans-serif;
            font-size: 24px;
            color: black;
        }

        .department-button:hover {
            transform: scale(1.05);
        }

        .department-button:active {
            transform: scale(0.95);
        }

</style>

<div class="avdelinger">
    <p>AVDELINGER</p>
    </form>
</div>

<div style="text-align: center;">
    <a class="department-button" href="MekaniskAvd">
        <p>MEKANISK</p>
        </form>
    </a>
</div>

    <a class="department-button" href="HydrauliskAvd">
        <p>HYDRAULISK</p>
    </a>

    <a class="department-button" href="ElektriskAvd">
        <p>ELEKTRISK</p>
    </a>

    <a class="department-button" href="LagerAvd">
        <p>LAGER & UTLEVERING</p>
    </a>
</div>


