@{
    ViewData["Title"] = "Brukere";
}

<div style="text-align:center";>
    <form id ="form_brukere">
        <p></p>
        <p></p>
        <p></p>
        <p style="font-weight: bold;">Mekanisk</p>
       </form>
           
</div>


<style>
    form {
        border: 1px solid black; /* Add your desired border style here */
        width: 200px;
        height: 100px;
        border-radius: 20px;
        background-color: #FF6600; /* Use "background-color" to set the background color */
    }
</style>