@using WebApplication1.Controllers.ApiController;
@using System.Collections.Generic;

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/gjennomførts.css" asp-append-version="true" />

@{
    @namespace WebApplication1.Controllers


    <p>Navn til kunde: @Model.Navn</p>
    <p>TelefonNummer: @Model.TelefonNummer</p>

    <p>Data fra databasen skal bli vist her</p>
    


}

