 
@{ 
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/hjemmeside.css" asp-append-version="true" />

<!--container for alle bildene med tekst i midten-->
<div class="images">
    <div class="image-container">
        <img class="workshop-image" src="/images/Kjetting.jpg" />
        <a asp-controller="DefaultVerdier" asp-action="KommendeS" method="post">
            <p class="textVisual kommende-service">Kommende service</p>
        </a>
    </div>

    <div class="image-container">
        <img class="workshop-image" src="/images/Verksted.jpg" />
        <a asp-controller="DefaultVerdier" asp-action="PågåendeS" method="post">
            <p class="textVisual paagaaende-service">Pågående service</p>
        </a>
    </div>

    <div class="image-container">
        <img class="workshop-image" src="/images/Vei.jpg" />
        <a asp-controller="DefaultVerdier" asp-action="GjennomførtS" method="post">
            <p class="textVisual gjennomfoert-service">Gjennomført service</p>
        </a>
    </div>
</div>

