@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Models.Tables;
@model BrukerData

@{
    ViewData["Title"] = "nøsted &";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<script src="~/js/login.js" asp-append-version="true"></script>

<h1>@ViewData["Title"]</h1>

<p class="undertitle">Log in using your username and password</p>


<form asp-controller="LoginUser" asp-action="Login" method="post">
    <hr />
    <label asp-for="BrukerNavn">Navn:  </label>
    <input asp-for="BrukerNavn" type="text" />
    <span asp-validation-for="BrukerNavn"></span>
    <br />
    <label asp-for="BrukerPassord">Passord:</label>
    <input asp-for="BrukerPassord" type="text" />
    <span asp-validation-for="BrukerNavn"></span>
    <br />
    <input type="submit" class="btn-primary" />
</form>

<!--id-->