@{
    ViewData["Title"] = "Service Form";
}

<style>
    .top-left-div {
        position: absolute;
        left: 40px;
        top: 100px;
        font-size: 130%;

    }

    .square {
        width: 700px;
        height: 700px;
        background-color: rgba(133, 141, 248, 0.192);
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
        border-radius: 40px;

    }

    .text-square {
        position: absolute;
        left: 7%;
        color: black;
        
        
    }

    .text-inside {
        margin-bottom: 30px;
        background-color: #fab89080;
        margin-top: 30px;
        border-radius: 20px;
        padding: 10px;
        width: 500px;
    }

    .description {
        height: 300px;
        width: 600px;

    }


</style>

<div class="top-left-div">
    <p>  Kort beskrivelse/emne av kundehendvendelsen </p>
    <h1>Anleggsmaskiner AS </h1>
    <p> Kort beskrivlse av kundehendvendelsen: </p>
    <p>   Vi trenger å få byttet flere vaiere over til vinsjer. Vi trenger en spesfik type dere har. </p>
</div>

<div class="square">
    <div class="text-square">
        <h1 class="text-inside">bytte av vajer til vinsj</h1>
        <h1 class="text-inside">Maskiner AS</h1>
        <p class="text-inside description">Informasjon om service: Må bytte vajer til vinsj med type...</p>
    </div>

</div>
