@model WebApplication1.Models.Tables.KundeData;
@{
    ViewData["Title"] = "Service Form";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/nyservice.css" asp-append-version="true" />

<h1>Registrer ny kunde her</h1>

<!--enctype="application/x-www-form-urlencoded"-->
<form asp-controller="Api" asp-action="Save" method="post" enctype="application/x-www-form-urlencoded">
    <label asp-for="Navn"></label>
    <br />
    <input asp-for="Navn" type="text" /><br />
    <label asp-for="TelefonNummer"></label>
    <br />
    <input asp-for="TelefonNummer" type="number" /><br />
    <label asp-for="Kommentar"></label>
    <br />
    <textarea asp-for="Kommentar" type="text"></textarea> <br />
    <input type="submit" />
</form>

<!--slett en kunde med tilsvarende id fra databasen-->

<br />
<h2>Slett kunde her</h2>
<label asp-for="DeleteID">KundeID:</label>
<form asp-controller="DeleteData" asp-action="Delete" method="post">
    <input asp-for="DeleteID" type="number"/>
</form>