@{
    ViewData["Title"] = "PagaendeS";
}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style> /* CSSen for kortene som dannes   */ 
    body {
        background-image: url(https://res.cloudinary.com/mhadaily/image/upload/w_1600,f_auto,q_85/nosted/cmspro/homepage_bg.jpg);
        background-size: cover;
    }

    .container {
        font-size: 1.3rem;
        font-family: sans-serif;
        color: #888;
        text-align: center;
    }

    .kort-container{
        display:flex;
        justify-content: center;
        align-items:center;
        height: 80vh;
        overflow-x: auto;
    }

    .kort {
        margin-right: 75px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 500px auto;
        grid-template-areas: "tittel" "text";
        font-family: roboto;
        border-radius: 18px;
        background: #101820;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        text-align: center;
        transition: 0.8s cubic-bezier(0.2,1,0.2,1);
    }

    .kort-tittel{
        grid-area:tittel;
        display:flex;
        justify-content:center; 
        align-items:center;
    }

    .tittel{
        font-size:1.5rem;
        color: #f55e07;
        
    }

    .kort-text {
        grid-area: text;
        margin: 50px;
        background-color: #FF6600;
        border-radius: 20px;
    }

        .kort-text .student {
            color: grey;
            font-size: small;
        }

        .kort-text .navn {
            font-size: 1.5rem;
            color: black;
            letter-spacing: 0.1rem;
        }

        .kort-text .info {
            font-size: 0.8rem;
            color: black
        }

    .kort:hover {
        transform: translateY(-5px);
        box-shadow: 10px 25px 35px 0 rgba(0,0,0,0.25);
        cursor:pointer;
    }

    .kort:active {
        background-color: #17222e;

    }

    .kort-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .modal-backdrop {
        display: none !important;
    }
</style> 

<!-- Her lages kortene, nå er det bare manuelt lagt inn, men skal bli en @foreach { item i liste som blir hentet fra kommende service } -->
    <div class="kort-container">
        <div class="kort-wrapper">
            <div class="kort">
                <div class="kort-tittel">
                    <p class="tittel">SERVICE TITTEL1</p>
                </div>
                <div class="kort-text">
                    <h2 class="navn">Nøsted &</h2>
                    <p class="info">beskrivelse</p>
                </div>
            </div>
            <div class="kort">
                <div class="kort-tittel">
                    <p class="tittel">SERVICE TITTEL2</p>
                </div>
                <div class="kort-text">
                    <h2 class="navn">Privat Person</h2>
                    <p class="info">info</p>
                </div>
            </div>
            <div class="kort">
                <div class="kort-tittel">
                    <p class="tittel">SERVICE TITTEL3</p>
                </div>
                <div class="kort-text">
                    <h2 class="navn">123D</h2>
                    <p class="info">service beskrivelse</p>
                </div>
            </div>
        </div>
    </div>

<script> // her lages en modal, den skal sende dataen fra det spesifikke service kortet over til service skjemaet. 
    var title, info; 

    $(document).ready(function() {
        $('.kort').click(function() {
            // Fjerner andre modals
            $('.modal').remove();

            // Henter tittel og beskrivelse
            title = $(this).find('.navn').text();
            info = $(this).find('.info').text();

            // Lage modal
            var modalContent = '<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">';
            modalContent += '<div class="modal-dialog" role="document">';
            modalContent += '<div class="modal-content">';
            modalContent += '<div class="modal-header">';
            modalContent += '<h5 class="modal-title" id="exampleModalLabel">' + title + '</h5>';
            modalContent += '<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">';
            modalContent += '<span aria-hidden="true">&times;</span>';
            modalContent += '</button>';
            modalContent += '</div>';
            modalContent += '<div class="modal-body">';
            modalContent += '<p>' + info + '</p>';
            modalContent += '</div>';
            modalContent += '<div class="modal-footer">';
            modalContent += '<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lukk</button>';
            modalContent += '<button type="button" class="btn btn-primary" onclick="ferdiggjorOrdre()">Fortsett til service skjema</button>';
            modalContent += '</div>';
            modalContent += '</div>';
            modalContent += '</div>';
            modalContent += '</div>';

            $('body').append(modalContent);

            $('#exampleModal').modal('show');
        });
    }); 

    function ferdiggjorOrdre() {
        var ServiceFormUrl = '@Url.Action("ServiceForm", "Home")';
        ServiceFormUrl += '?title=' + encodeURIComponent(title);
        ServiceFormUrl += '&info=' + encodeURIComponent(info);
        window.location.href = '@Url.Action("NewServiceDef", "DefaultVerdier")/'
    }
</script>
