@model WebApplication1.Models.FormDataMappe.ServiceModel.FormData;

@{
    ViewData["Title"] = "PagaendeS";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/pågåendes.css" asp-append-version="true" />



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="~/js/pågåendes.js" asp-append-version="true"></script>

<!-- Her lages kortene, nå er det bare manuelt lagt inn, men skal bli en foreach { item i liste som blir hentet fra kommende service } -->
    <div class="kort-container">
        <div class="kort-wrapper">
            <div class="kort">
                <div class="kort-tittel">
                    <p class="tittel">SERVICE TITTEL1</p>
                </div>
                <div class="kort-text">
                    <h2 class="navn">Nøsted &</h2>
                    <p class="info">beskrivelse</p>
                </div>
            </div>
            <div class="kort">
                <div class="kort-tittel">
                    <p class="tittel">SERVICE TITTEL2</p>
                </div>
                <div class="kort-text">
                    <h2 class="navn">Privat Person</h2>
                    <p class="info">info</p>
                </div>
            </div>
            <div class="kort">
                <div class="kort-tittel">
                    <p class="tittel">SERVICE TITTEL3</p>
                </div>
                <div class="kort-text">
                    <h2 class="navn">@Model.Navn</h2>
                    <p class="info">service beskrivelse</p>
                </div>
            </div>
        </div>
    </div>