@model WebApplication1.Models.FormDataMappe.ServiceModel.FormData;


<div id="order1" class="text" onclick="slettOrder(this)">
    <p>Navn til kunden: @Model.Navn</p>
    <p>Telefon til kunden: @Model.TelefonNummer</p>
    <p>Kommentar fra kunden: @Model.Kommentar</p>
    <p>Dersom det dukker opp "default" verdier, må det legges til en ny kunde igjennom "new service"</p>
</div>

<div class="text" onclick="seOrdre()">

    <p id="theDiv">+</p>

</div>

<script>

    //Skal kunne slette ordre, skal etterhvert forsøke å få dette til å fjerne elementer fra databasen
    function slettOrder(element) {

        $(element).html("");
    }


    //ikke mulig enda, men skal etterhvert kunne hente flere navn fra databasen
    function seOrdre() {
        var endring = "\n @Model.Navn"

        document.getElementById("theDiv").innerHTML += endring;

        


    }
</script>


<style>
    body {
        background-image: url(https://res.cloudinary.com/mhadaily/image/upload/w_1600,f_auto,q_85/nosted/cmspro/homepage_bg.jpg);
        background-size: cover;
    }

    .text {
        color: white;
    }

    :hover {
        color: red;
    }
</style>
