@model IEnumerable<WebApplication1.Models.Tables.KundeData>

<!---->

@{
    ViewData["Title"] = "ServiceForm";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/serviceform.css" asp-append-version="true" />
<script src="~/js/serviceform.js" asp-append-version="true"></script>

<table class="table">
    <tbody>
        @foreach (var kunder in Model)
        {
        <tr>
            <td class="table">kundeID: @kunder.id</td>
            <td class="table">Navn: @kunder.Navn</td>
            <td class="table">Telefonnummer: @kunder.TelefonNummer</td>
            <td class="table">Kommentar: @kunder.Kommentar  </td>
        </tr>
    }
        </tbody>
    </table>
